.container .list-movies {
  max-width: 800px;
  margin: 14px auto;
}
.loading {
  margin-top: 50px;
}
.container .list-movies article {
  width: 100%;
  background-color: #022b42;
  padding: 15px;
  border-radius: 6px;
}
.container .list-movies article img {
  width: 700px;
  max-width: 100%;
  height: 500px;
}
.container .list-movies article strong {
  color: #fff;
  margin-bottom: 14px;
  font-size: 22px;
  display: block;
  text-align: center;
}
.container .list-movies article a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
  background-color: #116efb;
  border: none;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  text-decoration: none;
  transition: all 0.8;
}
